.find-shops-form {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.find-shops-label {
    padding: 0px 0px 5px 0px;
    font-size: 1.2em;
}

.find-shops-input, .search-button {
    margin-bottom: 10px;
    border-radius: 4px;
    background: white;
    align-self: center;
    font-size: 18px;
}

.find-shops-input {
    padding-left: 5px;
    width: 200px;
    height: 30px;
}

.search-button {
    padding: 10px;
    width: 200px;
    background: linear-gradient(180.1deg, rgba(255, 255, 255, 0) 43.72%, rgba(0, 0, 0, 0.41) 99.1%), #7E053F;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: .9em;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.search-button:hover {
    background: white;
    color: #7E053F;
}

.yelp-logo-wrapper {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.yelp-logo {
    max-width: 100px;
}