.safety-header {
    margin: 10px 0px;
}

.safety-section-container {
    display: flex;
    flex-direction: column;
}

section.safety {
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
    padding: 5px;
}

.safety-list {
    list-style-type: none;
}

.safety-list li {
    padding: 10px 0px;
    margin-left: 20px;
    list-style-type: square;
}

.link-target {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.link-target:hover {
    color: blue;
}