h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid white;
}

.welcome-description {
    color: white;
    margin: -20px 0 20px 0;
    font-style: italic;
    padding: 10px;
    font-size: 1.4em;
    text-align: center;
}

.home-container {
    display: flex;
    flex-direction: column;
}

.hero-wrapper {
    background: linear-gradient(180.1deg, rgba(255, 255, 255, 0) 43.72%, rgba(0, 0, 0, 0.41) 99.1%), #7E053F;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.hero-wrapper:hover {
 box-shadow: 0 0 2px 2px white;
}

.hero-wrapper p {
    font-size: 1em;
    line-height: 18px;
}

@media (min-width: 768px) {
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-wrapper {
        width: 40%;
        text-align: center;
    }
}