.nav-list {
    border-bottom: 3px solid #c4c4c4;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}


.nav-link {    
    font-size: .8em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}