.parts-filter-list-item {
    margin-bottom: 5px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-name {
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 15px;
    background: linear-gradient(180.1deg, rgba(255, 255, 255, 0) 43.72%, rgba(0, 0, 0, 0.41) 99.1%), #7E053F;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: .9em;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.mobile .part-name, .mobile .part-description {
    width: 85%;
}

button.part-name:hover {
    background: white;
    color: #7E053F;
}

.part-description {
    padding: 10px 20px;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 5px;
    text-align: left;
    color: white;
}

.tab-desk {
    display: none;
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .tab-desk {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
    }
    .part-wrapper {
        padding: 15px 30px;
        width: 300px;
        color: white;
    }
}