* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #082B4A;
    
}

main {
    margin: 30px 10px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

a:focus, button:focus, input:focus, select:focus  {
    outline: 0px;
}

@media (min-width: 768px) {
    main {
        margin: 40px 0
    }

    h2 {
        font-size: 2em;
    }
}