.bike-filter-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.bike-filter-list-item {
    margin: 10px;
    border-radius: 4px;
    background: linear-gradient(180.1deg, rgba(255, 255, 255, 0) 43.72%, rgba(0, 0, 0, 0.41) 99.1%), #7E053F;
}

a.bike-name {
    font-family: 'Oswald', sans-serif;
    height: 80px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: .9em;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.bike-filter-list-item:hover {
    background: white;
}

a.bike-name:hover {
    color: #7E053F;
}

@media (min-width: 768px) {
    .bike-filter-list-item {
        width: 40%;
        margin: 10px auto;
    }
    a.bike-name {
        font-size: 1.2em;
    }
}